*{
    margin: 0;
    padding: 0;
    text-decoration:none;
    box-sizing: border-box;
}
.header{
    background-image: url(images/desktop.webp);
    height: 550px;
    padding: 0px 8px;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    z-index: 1;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.mid{
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
}
.logo{
    margin-top: calc(4px * 5);
    display: flex;
    justify-content: center;
}
.logotxt{
    margin-left: 8px;
}
.hidden{
    position: absolute;
    left: -10000px;
    top:auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin-left: 8px;
}
.end{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.discover{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
.nav{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    margin-top: 16px;
    z-index: 1;
}
.nav-sub{
    padding-right: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}
.nav-sub a{
    position: relative;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    min-height: 32px;
    width:auto;
    align-items: center;
    justify-content: flex-start;
    border-radius: 9999px;
    border: none;
    cursor:pointer;
    transition: background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    user-select: none;
    text-align: center;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 1px #19191900;
    color: #191919ff;
}
.login span{
    display: block;
    flex-grow: 1;
    max-width: 100%;
    transition: opacity 0.15s ease-in-out 0s;
    opacity: 1;
    padding: 0px 12px;
}
.openapp span{
    display: block;
    flex-grow: 1;
    max-width: 100%;
    transition: opacity 0.15s ease-in-out;
    opacity: 1;
    padding: 0px 12px;
}
.end-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}
.end-up-sub{
    display: flex;
    min-height: 40px;
}
.end-sub{
    border-radius: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
}
.search-icon{
    max-width: 100%;
    margin-right: 12px;
}
.address{
    flex-grow: 1;
    max-width: 100%;
    margin: 0 12px 0 auto;

}
.address input{
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01px;
    font-weight: 500;
    width: 100%;
    display: flex;
    color: currentColor;
    appearance: none;
    margin: 0px;
    padding: 0px;
}
.arrow{
    max-width: 100%;
    margin-right: 0px;
}
.arrow button{
    position: relative;
    max-width: 100%;
    margin: 0px;
    display: inline-flex;
    min-height: 40px;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    user-select: none;
    text-align: center;
    background-color: #19191900;
    box-shadow: inset 0 0 0 1px #19191900;
    color: #191919ff;
    height: 40px;
    width: 40px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}
.user{
    margin-top: 16px;
}
.user-sub{
    padding: 0px 12px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.user-sub span{
    margin-left: 4px;
}