*{
    margin: 0;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}
.body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width:100%;
    height: 67.25vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(images/desktop.webp);
    padding: 0px 8px;
    background-size: cover;
}
.nav{
    display: flex;
    list-style: none;
    justify-content: space-between;
    color: white;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hidden{
    width: 400px;
}
.head{
    width: 742.42px;
    height: 578px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 11px;
    margin-left: 540px;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.head h2{
    width: 742.42px;
    height:40px;
    color: #FFFFFF;
    font-size: 38px;
    text-wrap: nowrap;
    font-family: var(--usage-type-display-large-font-family), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: block;
    margin-top: 10px;
}
.dwn-head{
    width: 742.42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.logo{
    width: 1019px;
    font-weight: lighter;
    padding-top: 20px;
    display: flex;
    justify-content: center;

}
.logo img{
    width: 218px;
    height: 32px;
    position: relative;
    margin-left: -10px;
}
.button{
    display: flex;
    justify-content: end;
    width: 400px;
    height: 40px;
    margin: 15px -5px 0px;
}
.search button img{
    width: 30px;
    position: absolute;
    right: 10px;
    top: -18px;
}
.sign-in{
    color: #FFFFFF;
    background-color: #EB1700;
    border-radius: 25px;
    padding: 12px;
    margin-right: 10px;
    border: none;
    font-weight: bolder;
    font-size: 16px;
}
.sign-in:hover{
    background-color: rgb(209, 65, 65);
}
.sign-up{
    border-radius: 25px;
    background-color: white;
    color: #494949;
    padding: 12px;
    border: none;
    margin-right: 20px;
    font-weight: bolder;
    font-size: 16px;
}
.search{
    position: relative;
    width: 408px;
    height: 56px;
    background-color: #FFFFFF;
    border-radius: 60px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    top: 23px;
    left: -2px;
    border: 1px solid rgb(0, 162, 255);
    padding: 8px 8px 8px 20px;
}
.search i{
    font-size: 18px;
    color:#FFFFFF;
}
.search input{
    width: 292px;
    height: 22;
    border: none;
    outline: none;
    font-size: 16px;
    margin: 10px;
}
.search .map-marker img{
    width: 24px;
    height: 24px;
}
.search .red-arrow{
    width: 40px;
    height: 40px;
}
.search .red-arrow button{
    width: 40px;
    height: 40px;
    background-color: #EB1700;
    border-radius: 200px;
    border: none;
}
.search .red-arrow i{
    width: 24px;
    height: 24px;
    position: relative;
    margin-top: 10px;
} 
.sign{
    border-radius: 25px;
    width: 180px;
    height: 28px;
}
.sign a{
    color: black;
    font-weight: bold;
}
.user{
    color: black;
    display: flex;
    border-radius: 25px;
    align-items: center;
    background-color: #FFFFFF;
    border: none;
    width: 203.5px;
    height: 32px;
    margin: 40px 0px 0px;
}
.user span{
    width: 179.5px;
    height: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.user i{
    width: 16px;
    height: 16px;
    padding: 10px;
    padding-top: 0px;
}
.user .sign{
    width: 159.5px;
    height: 20px;
    color: #191919;
    font-size: 14px;
    text-wrap: nowrap;
}
.user .sign a{
    font-size: 14px;
    font-weight: bold;
    align-items: center;
}
.first{
    padding:125px 450px;
    display: flex;
    gap: 123px;
    overflow: hidden;
    margin-left: -126px;
}
.first h4{
    font-size: 34px;
    text-align: center;
}
.first p{
    font-size: 20px;
    text-align: center;
}
.item .set{
    display: flex;
}
.item .set i{
    margin-top: 4px;
    margin-left: 10px;
    color: #EB1700;
}
.item{
    width: 300px;
}
.item img{
    width:154px;
    height:154px;
}
.item h3{
    color: #EB1700;
}
.item-text{
    margin-left: -60px;
    width: 250px;
}
.second{
    width: 1835px;
    height: 544px;
    margin: 0px 0px -60px;
    display:flex;
    padding-left: 400px;
    gap: 123px;
    overflow: hidden;
}
.second .side{
    width: 400px;
    height: 290px;
    margin-top: 80px;
    margin-left: -60px;
    font-family: Arial, Helvetica, sans-serif;
}
.second h2{
    width: 360px;
    height: 80px;
    color: #191919;
    font-size: 40px;
    margin: 20px 0px 0px;
}
.second h6{
    font-size: 20px;
    width: 400px;
    height: 24px;
    color: #191919;
}
.second p{
    font-size: 16px;
    width: 400px;
    height: 66px;
    color: #191919;
    margin: 10px 0px 0px;
}
.second img{
    width: 695.02px;
    height: 500px;
    margin-left: -64px;
}
.second button{
    width:146.02px;
    height: 40px;
    border-radius: 25px;
    padding: 10px;
    background-color: #EB1700;
    color: #FFFFFF;
    border: none;
}
.second button span{
    width: 122.02px;
    height: 22px;
    color: #FFFFFF;
    font-size: 16px;
}
.third{
    width: 1835px;
    height: 604px;
    background-color: #FEF1EE;
    padding: 80px 20px 20px;
    display: flex;
    justify-content: center;
}
.third-sub{
    width: 1184px;
    height: 504px;
    display: flex;
    justify-content: space-between;
}
.third .dashpass{
    align-items: center;
    width: 400px;
    height: 256px;
    margin-top: 80px;
}
.dashpass p{
    width: 400px;
    height: 66px;
    color: #191919;
    font-size: 16px;
    margin: 20px 0px 0px;
    font-size: large;
}
.dashpass h4{
    width: 360px;
    height: 80px;
    color:#191919;
    margin: 20px 0px 0px;
    font-size: 40px;
}
.third-image img{
    font-size: larger;
    width: 724px;
    height: 500px;
}
.third-button-container{
    width:400px;
    height: 40px;
    margin: 30px 0px 0px;
}
.third-button-container button{
    width: 127.02px;
    height: 40px;
    background-color: #EB1700;
}
.third-button-container button a{
    width: 103.02px;
    height: 22px;
    color: #FFFFFF;
    font-size: 16px;
}
.fourth{
    background-image: url(images/grocery_desktop\ \(1\).avif);
    height: 600px;
    padding: 255px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fourth::before{
    content:"";
    position: absolute;
    width: 1835px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
}
.fourth-text{
    color: #FFFFFF;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 1835px;
}
.fourth h2{
    width: 370px;
    font-size: 35px;
    margin-left: 733px;
    margin-top: 0px;
}
.fourth h4{
    font-size: 19px;
}
.fourth-text p{
    font-size: 15px;
}
.fifth{
    display: flex;
    justify-content: center;
    width: 1835px;
    height: 584px;
    margin: 0px 0px -40px;
    padding: 60px 20px 20px;
}
.fifth-sub{
    width: 1155.02px;
    height: 504px;
    display: flex;
    justify-content: space-between;
}
.delivery{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fifth h2{
    font-size: 45px;
    width: 360px;
    height: 120px;
    line-height: 38px;
    color: #191919;
    /* margin: 20px 0px 0px; */
}
.fifth p{
    font-size: 16px;
    width: 400px;
    height: 44px;
    color: #191919;
    font-size: 19px;
    margin-bottom: -20px;
}
.fifth-button-container{
    width: 400px;
    height: 40px;
    color: #191919;
    margin: 30px 0px 0px;
    display: flex;
    justify-content: start;
}
.fifth-button-container a{
    width: 100.33px;
    height: 40px;
    background-color: #EB1700;
    border-radius: 25px;
    padding: 10px;
    border: none;
}
.fifth-button-container a span{
    width: 76.33px;
    height: 22px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}
.fifth-image{
    width: 695.02px;
    height: 500px;
}
.fifth-image img{
    width: 695.02px;
    height: 500px;
}
.sixth-heading{
    width: 1835px;
    height: 180px;
    padding: 60px 20px 40px;
    margin: 0px 0px 0px 0px;
    background-color: #FEF1EE;
    display: flex;
    justify-content: center;
}
.sixth-heading h2{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 32px;
    width: 500px;
    height: 80px;
    color:#191919;
}
.sixth{
    background-color: #FEF1EE;
    height:1652px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 1835px;
    justify-items: center;
}
.sixth .one{
    width: 592px;
    height:826px;
    padding: 20px;
    margin-right: -326px;
}
.sixth .one img{
    width: 552px;
    height: 552px;
}
.sixth .one .package{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .sixth .one .package h2{
    font-size: 40px;
    text-align: center;
    margin: 20px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin-top: 20px;
    left:0;
}
.sixth .one p{
    width:95%;
    font-size: 17px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 0px 0px;
}
.sixth .two{
    width: 592px;
    height:826px;
    padding: 20px;
    margin-right: 326px;
}
.sixth .two-img img{
    width: 552px;
    height:552px;
}
.sixth .two .flower{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 172px;
    width:543.84px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
} 
.flower h2{
    width: 453.97px;
    height: 40px;
    color: #191919;
    font-size: 38px;
    margin: 20px 0px 0px;
    text-wrap: nowrap;
}
.flower p{
    font-size: 16px;
    margin: 20px 0px 0px;
}
.three{
    width: 592px;
    height:826px;
    padding: 20px;
    margin-right: -326px;
}
.three img{
    width: 552px;
    height: 552px;
}
.alcohol{
    width: 552px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alcohol h2{
    width: 372.22px;
    height: 40px;
    color: #191919;
    font-size: 42px;
    margin: 20px 0px 0px;
}
.alcohol .para1{
    width: 552px;
    height: 44px;
    color: #191919;
    font-size: 18px;
    margin: 20px 0px 0px;
    text-align: center;
}
.alcohol .para2{
    width: 200.17px;
    height: 20px;
    color: #191919;
    font-size: 14px;
    margin: 20px 0px 0px;
    text-align: center;
}
.four{
    width: 592px;
    height: 826px;
    padding: 20px;
    margin-right: 326px;
}
.four img{
    width: 552px;
    height: 552px;
}
.pets{
    width: 552px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pets h2{
    width: 496.8px;
    height: 80px;
    color: #191919;
    font-size: 40px;
    margin: 20px 0px 0px;
    text-align: center;
}
.pets p{
    width: 552px;
    height: 44px;
    color: #191919;
    font-size: 18px;
    margin: 20px 0px 0px;
}
.seventh{
    width: 1835px;
    height: 180px;
    background-color: #FFFFFF;
    padding: 60px 20px 40px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.seventh h2{
    width: 500px;
    height: 80px;
    color: #191919;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
}
.eighth{
    width: 1835px;
    height: 544px;
    margin: 0px 0px -60px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.eighth-sub{
    width: 1155.02px;
    height: 504px;
    display: flex;
    justify-content: space-between;
}
.e-sub{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.eighth-sub img{
    width: 695.02px;
    height: 500px;
}
.eighth h2{
    width: 360px;
    height: 80px;
    color: #191919;
    font-size: 43px;
    margin: 20px 0px 0px;
    line-height: 38px;
}
.eighth p{
    width: 400px;
    height: 66px;
    color: #191919;
    font-size: 17px;
    margin: 20px 0px 0px;
}
.eighth .button{
    width: 400px;
    height: 40px;
    margin: 30px 0px 0px;
    display: flex;
    justify-content: start;
}
.eighth .button a{
    width: 152.81px;
    height: 40px;
    background-color: #EB1700;
    border-radius: 25px;
    padding: 10px;
    color: #FFFFFF;
    border: none;
    font-weight: bold;
}
.eighth .button a span{
    width: 128.81px;
    height: 22px;
    color: #FFFFFF;
    font-size: 16px;
}
.nine{
    width: 1835px;
    height: 604px;
    background-color: #FEF1EE;
    padding: 80px 20px 20px;
    display: flex;
    justify-content: center;
}
.nine-sub{
    width: 1184px;
    height: 504px;
    display: flex;
    justify-content: space-between
}
.nine img{
    width: 724px;
    height: 500px;
}
.n-sub{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nine-sub h2{
    width: 360px;
    height: 120px;
    color: #191919;
    font-size: 40px;
    margin: 20px 0px 0px;
    line-height: 38px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.nine-sub p{
    width: 400px;
    height: 66px;
    color: #191919;
    font-size: 18px;
    margin: 20px 0px 0px;
}
.nine-sub .button{
    width: 400px;
    height: 40px;
    margin: 30px 0px 0px;
    display:flex;
    justify-content: left;

}
.nine-sub .button a{
    width: 156.25px;
    height: 40px;
    background-color:#EB1700;
    border-radius: 25px;
    padding: 10px;
    color: #FFFFFF;
    border: none;
    font-weight: bold;
}
.nine-sub .button a span{
    width: 132.25px;
    height: 22px;
    color: #FFFFFF;
    font-size: 16px;
}
.ten{
    width: 1835px;
    height: 336px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ten-sub{
    width: 1130px;
    height: 336px;
    padding: 48px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.ten h2{
    width: 1130px;
    height: 40px;
    color: #191919;
    font-size: 32px;
    margin: 0px 0px 20px;
    display: flex;
    justify-content: center;
}
.ten-nav{
    width: 1130px;
    height: 40px;
}
.ten-nav-A{
    width: 376.63px;
    height: 40px;
    display: flex;
    justify-content: center;
}
.ten-main{
    width: 1130px;
    height: 120px;
}
.ten-main ul{
    width: 226px;
    height: 120px;
}
.ten-main ul li{
    width: 226px;
    height: 40px;
    background-color: #FFFFFF;
}
.ten-main ul li a{
    width: 226px;
    height: 22px;
    padding: 0px 12px;
}
.ten-main ul li a span{
    width: 202px;
    height: 22px;
    color: #191919;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.third button{
    border-radius: 25px;
    padding: 10px;
    background-color: #EB1700;
    color: #FFFFFF;
    border: none;
}
.fourth button {
    border-radius: 25px;
    padding: 10px;
    background-color: #EB1700;
    color: #FFFFFF;
    border: none;
}
.delivery button{
    border-radius: 25px;
    padding: 10px;
    background-color: #EB1700;
    color: #FFFFFF;
    border: none;
}
.package a{
    border-radius: 25px;
    padding: 10px;
    background-color: #EB1700;
    color: #FFFFFF;
    border: none;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.flower button{
    border-radius: 25px;
    padding: 10px;
    background-color: #EB1700;
    color: #FFFFFF;
    border: none;
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.alcohol button{
    border-radius: 25px;
    padding: 10px;
    background-color: #EB1700;
    color: #FFFFFF;
    border: none;
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.pets button{
    border-radius: 25px;
    padding: 10px;
    background-color: #EB1700;
    color: #FFFFFF;
    border: none;
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
}
.nine-sub button{
    border-radius: 25px;
    padding: 10px;
    background-color: #EB1700;
    color: #FFFFFF;
    border: none;
    margin-top: 20px;
}
footer{
    width: 1850px;
    height: 812px;
    background-color:#191919;
    display: flex;
    justify-content: center;
}
.foot{
    width: 1184px;
    height: 812px;
}
.foot-sub{
    width: 1160px;
    height: 812px;
    margin: 0px 12px;
    padding: 0px 20px;
}
.A{
    width: 1120px;
    height: 262px;
    padding: 32px 0px;
}
.A h2{
    width: 1120px;
    height: 22px;
    color: #FFFFFF;
    margin: 0px -8px 8px;
    font-size: 16px;
}
.A .box1{
    width:1120px;
    height: 168px;
    display: flex;
}
.A .box1 .row1{
    width: 271px;
    height: 168px;
    margin-left: -8px;
}
.A .box1 .row1 li{
    list-style: none;
    margin-top: 10px;
}
.A .box1 .row1 li a{
    width: 271px;
    height:20px;
    color: #C4C4C4;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.A .box1 .row2{
    width: 271px;
    height: 168px;
    margin-left: 12px;
}
.A .box1 .row2 li{
    list-style: none;
    margin-top: 10px;
}
.A .box1 .row2 li a{
    width: 271px;
    height:20px;
    color: #C4C4C4;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.A .box1 .row3{
    width: 271px;
    height: 168px;
    margin-left: 12px;
}
.A .box1 .row3 li{
    list-style: none;
    margin-top: 10px;
}
.A .box1 .row3 li a{
    width: 271px;
    height:20px;
    color: #C4C4C4;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.A .box1 .row4{
    width: 271px;
    height: 168px;
    margin-left: 12px;
}
.A .box1 .row4 li{
    list-style: none;
    margin-top: 10px;
}
.A .box1 .row4 li a{
    width: 271px;
    height:20px;
    color: #C4C4C4;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.B{
    width: 1120px;
    height: 454px;
    display: flex;
}
.B .left-B{
    width: 560px;
    height: 454px;
    display: flex;
    justify-content: space-between;
    margin-left: -10px;
}
.B li{
    list-style: none;
    line-height: 27.3px;
}
.B .left-B .col1{
    width: 113.77;
    height: 454px;
}
.B .left-B .col1 h2{
    width: 113.77px;
    height: 22px;
    color: #FFFFFF;
    font-size: 16px;
    margin: 0px 0px 8px;
}
.B .left-B .col1{
    width: 113.77px;
    height: 454px;
    padding: 32px 0px 0px;
}
.B .left-B .col1 li a{
    color: #C4C4C4;
    font-size: 14px;
    width: 113.77px;
    height: 20px;
}
.B .left-B .col2{
    width: 116.09;
    height: 454px;
    padding: 32px 0px 0px;
}
.B .left-B .col2 li a{
    width: 116.09px;
    height: 20px;
}
.B .left-B .col2 h2{
    width: 116.09px;
    height: 22px;
    color: #FFFFFF;
    font-size: 16px;
    margin: -6px 0px 8px;
}
.B .left-B .col2 a{
    width: 116.09px;
    height: 20px;
    color: #C4C4C4;
    font-size: 14px;
}
.B .left-B .col3{
    width: 170.31;
    height: 454px;
    padding: 32px 0px 0px;
}
.B .left-B .col3 h2{
    width: 170.31px;
    height: 22px;
    color: #FFFFFF;
    font-size: 16px;
    margin: 0px 0px 8px;
}
.B .left-B .col3 a{
    width: 170.31px;
    height: 20px;
    color: #C4C4C4;
    font-size: 14px;
}
.B .right-B{
    width: 560px;
    height: 454px;
    display: flex;
    justify-content: right;
}
.B .right-B .B-sub{
    width: 160px;
    height: 454px;
    padding: 32px 0px 0px;
}
.B .right-B .B-sub a{
    width: 160px;
    height: 52px;
}
.B .right-B .B-sub a .appstore{
    width: 160px;
    height: 52px;
    color: #494949;
    padding: 2px 8px;
}
.B .right-B .B-sub a .appstore img{
    color: #EB1700;
}
.B .right-B .B-sub a .playstore{
    width: 160px;
    height: 52px;
    color: #494949;
    padding: 2px 8px;
}
.C{
    width: 1120px;
    height: 96px;
    display: flex;
    text-align: center;
    padding: 32px 0px;
    justify-content: space-between;
}
.C .C-left{
    width: 674.59px;
    height: 32px;
    display: flex;
    text-wrap: nowrap;
    justify-content: space-between;
}
.C .C-left p{
    color: #FFFFFF;
}
#door{
    width: 32px;
    height: 18px;
}
#door img{
    width: 32px;
    height:18px;
}
.C .C-left a{
    padding-left: 20px;
}
#terms{
    width: 87.13px;
    height: 18px;
    color: #C4C4C4;
    font-size: 12px;
}
#terms span{
    width:87.13px;
    height: 18px;
}
#prvc{
    width: 38.89px;
    height: 18px;
    color: #C4C4C4;
    font-size: 12px;
}
#prvc span{
    width: 38.89px;
    height: 18px;
}
#lctn{
    width: 98.41px;
    height: 18px;
    font-size: 12px;
    color: #C4C4C4;
}
#lctn span{
    width: 98.41px;
    height: 18px;
}
#security{
    width: 240.19px;
    height: 18px;
    color: #C4C4C4;
    font-size: 12px;
}
#security span{
    width: 240.19px;
    height: 18px;
}
.C .C-left span{
    width: 97.98px;
    width: 18px;
    color: #C4C4C4;
    font-size: 12px;
    margin: 0px 0px 0px 16px;
}
.C-mid{
    width: 174px;
    height: 32px;
}
.C-mid button{
    border-radius: 25px;
}
.mid-1{
    width: 150px;
    height: 32px;
    background: #F7F7F7;
    padding: 4px 12px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
}
.mid-1 i{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid-1 button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mid-2{
    width: 150px;
    height: 32px;
}
.mid-3{
    width: 150px;
    height: 32px;
}
.mid-4{
    width: 150px;
    height: 32px;
}
.mid-5{
    width: 150px;
    height: 32px;
    display: flex;
}
.globe{
    width: 24px;
    height: 24px;
}
.mid-6{
    width: 24px;
    height: 24px;
}
.mid-6 i{
    width: 24px;
    height: 24px;
}
.english{
    width:94px;
    height: 20px;
}
.english-sub{
    width: 94px;
    height: 20px;
}
#languages{
    width: 94px;
    height: 20px;
    border: none;
}
.C-end{
    width: 96px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.C-end a{
    width: 24px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.C-end a i{
    width: 24px;
    height: 24px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}
.ten-nav{
    display:flex;
    border-bottom: 1px solid rgb(245, 237, 237);
}
.ten-main{
    display: flex;
}
.ten-main ul li{
    list-style: none;
}